/* FOOTER */

footer{
    background: #000;
   
}

footer .copyright{
    color: #fff;
    text-align: center;
    padding: 15px 0;
}


footer .contenedor a{
    color: #fff;
}



.ir-arriba{
    color: #7c7979;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    font-size: 3rem;
    text-decoration: none;
    z-index: 99999;
    display: none;

}






//footer .contenedor a:hover{
//    text-decoration:  ;
//}
